{% extends 'app1/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/app1/style.css' %} ">
</head>
<body>
    {% block content %}

    <h1>The New Standard  in Data Analysis</h1>

    <img src="{% static 'image/app1/img3.jpg' %}" height="30%" width="40%" alt="jyoti">
   <video width="13%" controls>
    <source src="{% static 'video/app1/v1.mp4' %}" type="video/mp4">
   </video>

   <img src="{% static 'image/app1/img3.jpg' %}" height="30%" width="40%" alt="jyoti">
   <video width="13%" controls>
    <source src="{% static 'video/app1/v1.mp4' %}" type="video/mp4">
   </video>

   <img src="{% static 'image/app1/img3.jpg' %}" height="30%" width="40%" alt="jyoti">
   <video width="13%" controls>
    <source src="{% static 'video/app1/v1.mp4' %}" type="video/mp4">
   </video>


    {% endblock %}

   
</body>
</html>